<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Data</key>
		<array>
			<dict>
				<key>Data</key>
				<data>
				RW1wdHkgQ2xpcGJvYXJkIFRleHQ=
				</data>
				<key>Key</key>
				<string>public.utf8-plain-text</string>
			</dict>
		</array>
		<key>Date</key>
		<date>2019-01-22T16:57:51Z</date>
		<key>Name</key>
		<string>Unnamed Named Clipboard</string>
		<key>Source</key>
		<string>com.stairways.keyboardmaestro.editor</string>
		<key>UID</key>
		<string>98D77340-3574-4CF7-A1A0-1E56C0C9079C</string>
	</dict>
</array>
</plist>
